footer {
  background-color: #00bfff;
  padding: 20px 0;
  text-align: center;

  h4 {
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    
  }
}

#padreRedes {
  display: flex;
  justify-content: space-around;
  gap: 20px;


  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
  }
}